<div class="wraper shadow">
  <div class="container">
    <div class="logo">
      <img src="https://st3.depositphotos.com/4024659/16654/i/450/depositphotos_166547760-stock-photo-gold-elegant-letter-a-graceful.jpg" alt="">
      <h1>Log in</h1>
    </div>
  </div>
  <div class="container">
    <div class="my_data">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="links">
    <p>
      <a href="#">Sing up</a>
    </p>
    <p>
      <a href="#">Forgot your password?</a>
    </p>
    </div>
  </div>
</div>
